
<header class="container px-0">
  <nav class="navbar navbar-expand-lg bg-body-tertiary px-0"> 
    <div class="container-fluid">
          <a class="nav-link" href="#">
            <img class="logo-image" src = "/images/CC-LogoWname-ColorBg.png" id = "logo" alt="casual coding">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars" aria-hidden="true"></i>
          </button>
          <!-- <a class="navbar-brand" href="#">Navbar</a> -->
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto pl-3">
              <% if (!locals.user) { %>
                <a class="nav-link active" aria-current="page" href="/Register">Register</a>
                <a class="nav-link" href="/login">Login</a>
              <% } %>
              <a class="nav-link" href="/projects/submit">Submit Project</a>
              <a class="nav-link" href="/projects/cards">Project Cards</a>
              <a class="nav-link" href="/projects/tables">Project Table</a>
              <% if (locals.user) { %>
                <a class="nav-link d-flex" href="#"><i class=" mr-2 fa fa-user-circle" style="font-size:24px"></i> Hello, <%= locals.user.username %></a>
                <a class="nav-link d-flex" href="/logout"> Logout <i class="ml-2 fa fa-sign-out" style="font-size:24px"></i></a>
              <% } %>
              <!-- <a class="nav-link disabled" aria-disabled="true">Disabled</a> -->
            </div>
          </div>
        </div>
      </nav>
</header>

<script async>
  $('#navbarWithAltMarkup').collapse('toggle')
</script>



