<%- include('partials/header') %>

<div class="container">
  <div class="jumbotron centered">
    <h1 class="display-3">Member Projects</h1>
    <p class="project-text">Project Features</p>

    <form action="/projects">
      <div class="form-group">
      <label for="title">Title</label>
        <input
          type="text"
          class="form-control text-center"
          name="title"
          id="title"
          placeholder=" Name of Your Project"
        />
        
        <label for="percent-done">Percent Done</label>
        <input
          type="number"
          class="form-control text-center"
          name="percentDone"
          id="percent-done"
          placeholder="Percent Completed"
        />
        
        <label for="description">Description</label>
        <input
          type="text"
          class="form-control text-center"
          name="description"
          id="description"
          placeholder="Description"
        />
      </div>

      <button type="submit" class="btn btn-dark">Submit</button>
    </form>

    <script>
      async function handleSubmit(event) {
        event.preventDefault(); // Prevent default form submission

        const title = document.querySelector("#title");
        const percentDone = document.querySelector("#percent-done");
        const description = document.querySelector("#description");

        const formData = {
          title: title.value,
          percent_done: Number(percentDone.value),
          description: description.value,
        };

        console.log(formData);

        try {
          const response = await fetch('/projects', {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(formData),
          });

          if (!response.ok) {
            throw new Error(`Error: ${response.status}`);
          }

          const result = await response.json();
          console.log("Server response:", result);

          window.location.href = "/projects/tables";
        } catch (error) {
          // TODO Show error message.
          console.error("Error submitting form:", error);
        }
      }

      const form = document.querySelector("form");
      form.addEventListener("submit", handleSubmit);

    </script>
  </div>
</div>

<%- include('partials/footer') %>
